body {
    background-color:#fff;
}

h1 {
    color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);
    
}

.container {
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%; 
}

/* ---------------------------------
    SELECT ALL SQUARES IN THE  ARRAY
-------------------------------------*/
.container .squares:nth-child(-n+4) {
    background-image: url("../images/icons/smileyface2.png");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

/* ----------------------------------------------
    SELECT ALL SQUARE'S PARAGRAPHS IN THE ARRAY
------------------------------------------------*/
.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.8);
}

/* ----------------------------------------------
    GIVE EACH SQUARE IN THE ARRAY A UNIQUE COLOR 
------------------------------------------------*/
.squares:nth-child(1) {
    background: #9de1da
}

.squares:nth-child(2) {
    background: #a8cde5
}

.squares:nth-child(3) {
    background: #e1b597
}

.squares:nth-child(4) {
    background: #ffffb0

    /* 9de1da */
}


/* ----------------------------------------------
    HOVER, TRANSLATE, AND TRANSFORM EFFECTS
------------------------------------------------*/
.container .squares:nth-child(-n+4):hover {
    background-image: url("../images/icons/smileyface1.png");
    transform: scale(1.07);
    /* animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; */
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

.squares:nth-child(1):active {
    background: #40e0d0;    
    animation: race 1.5s infinite;
    /* animation-name: race;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.squares:nth-child(2):active {
    background: #40a0e0;
    animation: race 1.5s infinite;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.squares:nth-child(3):active {
    background: #e08040;
    animation: race 1.5s infinite;
    animation-timing-function: cubic-bezier(0.1, -.6, 0.2, 2.6);
}

.squares:nth-child(4):active {
    background: #ffff00;
    animation: race 1.5s infinite;
}

/* ----------------------------------------------
    ANIMATION EFFECT
------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../images/icons/smileyface1.png");
    }
    50% {
        transform: translateY(330px);
    }
}